<div id="container">
  <mat-expansion-panel *ngFor="let item of list">
    <mat-expansion-panel-header>

      <mat-panel-title class="ion-align-items-center ">
        <ion-icon name="book-outline"></ion-icon>
        {{item.title}}
      </mat-panel-title>

      <mat-panel-description>
        {{item.author}}
      </mat-panel-description>

    </mat-expansion-panel-header>
    <ion-grid>

      <ion-row>
        <ion-col [size]="12">Title: {{item.title}}</ion-col>
        <ion-col [size]="6">Author: {{item.author}}</ion-col>
        <ion-col [size]="6">Release: {{item.release}}</ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-label>Categories:</ion-label>
        <ion-chip *ngFor="let cat of item.categories" color="primary">
          <ion-label color="light">{{cat}}</ion-label>
        </ion-chip>
      </ion-row>

      <ion-row *ngIf="item.volume !== undefined" class="ion-align-items-center">
        <ion-label>Volume:</ion-label>
        <ion-chip *ngFor="let vol of item.volume" color="primary">
          <ion-label color="light">{{vol}}</ion-label>
        </ion-chip>
      </ion-row>

      <ion-grid *ngIf="item.borrowing === true">
        <ion-row>
          <ion-col [size]="12">Borrowing by : {{item.borrowerName}} </ion-col>
          <ion-col [size]="12">le : {{item.borrowingDate}}</ion-col>
        </ion-row>
      </ion-grid>

    </ion-grid>

  </mat-expansion-panel>
</div>
