<div class="container" >
 <div *ngIf="list">
<mat-accordion >
    <mat-expansion-panel *ngFor="let item of list" >
      <mat-expansion-panel-header class="ion-align-items-center" [ngStyle]="item.borrowing && {'background-color': 'orange'}">

        <mat-panel-title >
          {{item.title}}
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-book-list-prop [item]="item"></app-book-list-prop>
     
    </mat-expansion-panel>
  </mat-accordion>
 </div>
  <p *ngIf="!list" class="center-align">No items to display</p>
</div>
