<div class="container">
  <form [formGroup]="searchForm" >
    <ion-item>
      <ion-input type="search" formControlName="search" placeholder="chercher un titre"></ion-input>
      <ion-fab-button size="small"  class="ion-margin-start" (click)="onKeyUp()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </form>
  <div class="collection" *ngIf="isItemAvailable && book">
    <a class="collection-item" *ngFor="let item of book" (click)="setBook(item)">{{item.volumeInfo.title}} </a>
  </div>
  
  <div class="collection" *ngIf="isItemAvailable && movie">
    <div class="collection-item" *ngFor="let item of movie" (click)="setMovie(item)">
      <ion-img *ngIf="item.image" [src]="item.image"></ion-img>
      <p style="color: black;" >{{item.title}}</p>

    </div>
  </div>
</div>
