<ion-grid>
  <ion-row>
    <ion-col [size]="4"> <ion-img [src]="item.image" ></ion-img></ion-col>

    <ion-col [size]="8">
      <p>Author:
        <span *ngFor="let author of item.authors" > {{author}}, </span>
      </p>
      <p>Published: {{item.publishedDate | date: 'dd MMM yyyy'}}</p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="item.borrowing === true">
    <ion-col size="12">Borrowing by : {{item.borrowerName}}</ion-col>
    <ion-col size="12">le : {{item.borrowingDate}}</ion-col>
  </ion-row>

</ion-grid>
