<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 9</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <mat-expansion-panel *ngFor="let item of bookList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.author}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-grid>

        <ion-row>
          <ion-col class="ion-text-center" [size]="12">Title: {{item.title}}</ion-col>
          <ion-col [size]="6">Author: {{item.author}}</ion-col>
          <ion-col [size]="6">Release: {{item.release}}</ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-label>Categories:</ion-label>
          <ion-chip *ngFor="let cat of item.categories" color="primary">
            <ion-label color="light">{{cat}}</ion-label>
          </ion-chip>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-label>Volume:</ion-label>
          <ion-chip *ngFor="let vol of item.volume" color="primary">
            <ion-label color="light">{{vol}}</ion-label>
          </ion-chip>
        </ion-row>

        <ion-grid *ngIf="item.borrowing === true">
          <ion-row>
            <ion-col [size]="12">Borrowing by : {{item.borrowerName}} </ion-col>
            <ion-col [size]="12">le : {{item.borrowingDate}}</ion-col>
          </ion-row>
        </ion-grid>

      </ion-grid>
    </mat-expansion-panel>
  </div>
</ion-content>
