<!-- <form [formGroup]="MovieForm" (ngSubmit)="addNewMovie()" > -->
  <app-search-media [item]="'movie'" ></app-search-media>
<!--
    <ion-input type="hidden" name="image" formControlName="image"></ion-input>

  <ion-item>
    <ion-input type="text" name="title" formControlName="title"  placeholder="Enter title"></ion-input>
  </ion-item>
<div *ngIf="submitted && f.title.errors" class="alert">
  <div *ngIf="f.title.errors.required">
    Title is required.
  </div>
</div>

  <ion-item>
    <ion-input type="text" name="authors" formControlName="authors"  placeholder="Enter author"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.authors.errors" class="alert">
    <div *ngIf="f.authors.errors.required">
      Authors is required.
    </div>
  </div>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [compareWith]="type" formControlName="style" interface="popover" >
        <ion-select-option *ngFor="let item of type" [value]="item.name" >{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="submitted && f.style.errors" class="alert">
      <div *ngIf="f.style.errors.required">
        Type is required.
      </div>
    </div>

    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select multiple="true" [compareWith]="categories" formControlName="categories" interface="popover" >
        <ion-select-option *ngFor="let item of categories" [value]="item.val" >{{item.val}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="submitted && f.categories.errors" class="alert">
      <div *ngIf="f.categories.errors.required">
        Categories is required.
      </div>
    </div>

  <ion-item>
    <ion-input type="date"  formControlName="publishedDate" ></ion-input>
  </ion-item>


  <div class="col-xs-12">
    <button
      class="btn btn-success"
      type="submit">{{buttonText}}</button>
    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
  </div>

</form> -->
