<form [formGroup]="movieForm" (ngSubmit)="addNewMovie()" >
  <app-search-media [item]="'movie'" (datasMovie)="getNewMovie($event)" ></app-search-media>

    <ion-input type="hidden" name="image" formControlName="image"></ion-input>

  <ion-item>
    <ion-input type="text" name="title" formControlName="title"  placeholder="Enter title"></ion-input>
  </ion-item>
<div *ngIf="submitted && f.title.errors" class="alert">
  <div *ngIf="f.title.errors.required">
    Title is required.
  </div>
</div>

  <ion-item>
    <ion-input type="text" name="directors" formControlName="directors"  placeholder="Enter directors"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.directors.errors" class="alert">
    <div *ngIf="f.directors.errors.required">
      Directors is required.
    </div>
  </div>

  <ion-item>
    <ion-input type="text" name="writers" formControlName="writers"  placeholder="Enter writers"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.writers.errors" class="alert">
    <div *ngIf="f.writers.errors.required">
      Writers is required.
    </div>
  </div>

  <ion-item>
    <ion-input type="text" name="actors" formControlName="actors"  placeholder="Enter actors"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.actors.errors" class="alert">
    <div *ngIf="f.actors.errors.required">
      Actors is required.
    </div>
  </div>

    <ion-item>
      <ion-label>Type: </ion-label>
      <ion-input type="text" name="type" formControlName="type" ></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.type.errors" class="alert">
      <div *ngIf="f.type.errors.required">
        Type is required.
      </div>
    </div>

    <ion-item>
      <ion-label>Genres: </ion-label>
      <ion-input type="text" name="genres" formControlName="genres" ></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.genres.errors" class="alert">
      <div *ngIf="f.genres.errors.required">
        Genres is required.
      </div>
    </div>



  <ion-item>
    <ion-input type="date" name="releaseDate" formControlName="releaseDate" ></ion-input>
  </ion-item>


  <div class="col-xs-12">
    <button
      class="btn btn-success"
      type="submit">{{buttonText}}</button>
    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
  </div>

</form>
