<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>detailBook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button size="small">
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="light" [routerLink]="['/edit-book']" routerLinkActive="router-link-active">
		<ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="deleteBook()">
		<ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink]="['/borrow-book']" routerLinkActive="router-link-active">
		<ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>

  <div class="container">
    <ion-card>

      <ion-row style="justify-content: center;">
        <ion-img [src]="book.image"></ion-img>
      </ion-row>

      <ion-item>
        <p>Author:
          <span *ngFor="let author of book.authors"> {{author}}, </span>
        </p>
      </ion-item>

      <ion-item>
        <p>Published: {{book.publishedDate | date: 'dd MMM yyyy'}}</p>
      </ion-item>

      <ion-item>
        <p>Genre: {{book.style}}</p>
      </ion-item>

      <ion-item>
        <ion-row class="ion-align-items-center">
          <ion-label>Categories:</ion-label>
          <ion-chip *ngFor="let cat of book.categories">
            <ion-label>{{cat}}</ion-label>
          </ion-chip>
        </ion-row>
      </ion-item>

      <!-- <app-add-volume [volume]="book.volume"></app-add-volume> -->

      <ion-item *ngIf="book.style === 'Manga' || book.style === 'BD'" >
        <ion-row class="ion-align-items-center">
          <ion-label>Volume:</ion-label>
          <ion-fab-button size="small" [routerLink]="['/add-volume']" routerLinkActive="router-link-active" class="ion-align-items-center"><ion-icon size="large" name="add-circle-outline"></ion-icon></ion-fab-button>
          <div *ngIf="book.volume !== undefined" >
            <ion-chip *ngFor="let vol of book.volume">
              <ion-label>{{vol}}</ion-label>
            </ion-chip>
          </div>
        </ion-row>
      </ion-item>


      <ion-item>
        <ion-label>Borrowing: </ion-label>
        <ion-checkbox [checked]="book.borrowing" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="book.borrowing === true">
        <ion-row>
          <ion-col size="12">Borrowing by : {{book.borrowerName}}</ion-col>
          <ion-col size="12">le : {{book.borrowingDate | date: 'dd MMM yyyy'}}</ion-col>
          <ion-col size="12" class="ion-text-center">
            <ion-button (click)="giveBackBook()">Give back</ion-button>
          </ion-col>
        </ion-row>


      </ion-item>



    </ion-card>
  </div>
</ion-content>
